.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18.75rem;
}
.display {
  display: flex;
  color: aliceblue;
  height: 4.6875rem;
  background: rgba(0, 0, 0, 0.658);
  border: 0.0625rem black solid;
  border-bottom: none;
  align-items: center;
  justify-content: flex-end; 
  position: relative;
}

.display > p:first-child {
  position: absolute;
  margin-right: 1.25rem;
  font-size: 1rem;  
  user-select: none;
  transform: translate(-1.25rem, -1.25rem);
  filter: opacity(0.5);
}

.display > p:last-child {
  margin-right: 1.25rem;
  font-size: 1.5rem;  
  user-select: none;
}

.botoes {
  display: grid;
  grid-template-columns: repeat(4, 4.688rem);
}

.botoes > button {
  border: 0.0625rem black solid;
  padding: 1rem;
  font-size: 1.5rem;
  user-select: none;
}

.botoes > button:hover{
  filter: brightness(0.9);
}

.botoes > button:active{
  filter: brightness(0.7);
}

.operator {
  background-color: rgb(190, 190, 190);
}

#equalstobtn {
  background-color: rgb(255, 120, 102);
}

#clearbtn {
  background-color: aquamarine;
}